*{
    font-family: "Montserrat", sans-serif;
    
}

body{
    background-color: #070d2be6;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.logo{
    max-width: 220px;
}
main {
    flex: 1;
  }

footer {
    background-color: white;
   color:black;
    text-align: center;
    padding: 10px;
  }